[Unit]
Description=Laravel Artisan Serve Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Hello-Laravel
ExecStart=/usr/bin/env php -d variables_order=EGPCS artisan serve --host=0.0.0.0 --port=8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target